.foto{
	text-align: center;
	padding: 60px 0;
}
h1{
	position: relative;
	text-align: center;
}
.foto_sotial{
	color: $color1;
	display: inline-block;
    position: absolute;
    font-size: 18px;
    top: 9px;
    right: 100px;
}
.wrap_for_foto{
	border-bottom: 1px solid lightgrey;
	padding: 64px 0;
}
.else{
	
	padding: 60px 0;
	text-align: center;

}
.name_teplohod{
	color: $color1;
	font-weight: bold;
	font-size: 20px;
	padding: 26px 0;
	display: inline-block;
}
.inner_span2{
	background: url('../img/ik2.jpg')no-repeat left;
	display: inline-block;
	padding-left: 30px;
}
.inner_span1{
	background: url('../img/ik1.jpg')no-repeat left;
	display: inline-block;
	padding-left: 30px;

}
.tepl_width{
	max-width:360px;
	margin-top: 30px;
}
.wrap_each_teplohod {
    display: inline-block;
}