@charset "UTF-8";
/*@import "susy";*/
/*@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}*/
/*p {
  @include font-size(13);
} */
/*Медиа-запросы
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
   $width: map_get($breakpoints, $width);
   @if $type == max {
    $width: $width - 1px;
   }
   @media only screen and (#/*{$type}*/
/*-width: $width) {
    @content;
   }
  }
}

Используем
.site-header {
  padding: 2rem;
  font-size: 1.8rem;
  @include mq('tablet-wide') {
   padding-top: 4rem;
   font-size: 2.4rem;
  }
}*/
/*
Использовать можно так:

p {
  @include font-size(14px)
}
На выходе получим:

p {
  font-size: 14px; //перезапишется если браузер поддерживает размерность в rem
  font-size: 0.8rem;
}
*/
/*@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/breakpoint/breakpoint/_breakpoint.scss";*/
/*@import "reset";*/
@font-face {
  font-family: "Magistral";
  /* Название загруженного шрифта. Это название будем указать в значение свойства font-family у желаемых элементов */
  src: url("../fonts/Magistral/OMagistral/Magistral.eot?#iefix") format("embedded-opentype"), url("../fonts/Magistral/Magistral/Magistral.woff") format("woff"), url("../fonts/Magistral/Magistral/Magistral.ttf") format("truetype"); }

.container-my {
  width: 1800px; }

.box {
  list-style-type: none;
  border: 1px solid #f2eee9;
  padding-top: 45px;
  padding-bottom: 48px;
  padding-left: 130px;
  background-color: #fff;
  width: 70%;
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 10;
  margin-left: -70px; }

.box:first-child {
  background-color: #443e33;
  font-size: 30px;
  color: #fff;
  padding-left: 0;
  padding-top: 24px; }

.dish {
  width: 100%;
  /*height: 1200px;*/
  top: 0;
  left: 0;
  position: relative;
  margin-left: -220px;
  display: none; }

.dish2 {
  display: none;
  /*display: block;*/
  width: 100%;
  /* height: 1200px; */
  top: 0;
  left: 0;
  position: relative;
  margin-left: -220px; }

span {
  display: block;
  text-align: center;
  font-family: "Magistral"; }

.firstSpan {
  font-size: 42px;
  font-family: "Magistral"; }

.box2 {
  background: #fff url("../img/ypak2.png") no-repeat 40px; }

.box3 {
  background: #fff url("../img/prom2.png") no-repeat 40px; }

.box4 {
  background: #fff url("../img/posuda2.png") no-repeat 40px; }

.box5 {
  background: #fff url("../img/him2.png") no-repeat 40px; }

.box6 {
  background: #fff url("../img/kan2.png") no-repeat 40px; }

.box7 {
  background: #fff url("../img/kmm2.png") no-repeat 40px;
  height: 192px;
  margin-bottom: -54px; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px; }

html, body {
  margin: 0;
  padding: 0; }

.capsAndDish {
  /*position: absolute;*/
  /*margin-left:1600px;*/
  margin-left: 0;
  -webkit-animation: c_d 1s ease-in;
          animation: c_d 1s ease-in; }

.one {
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover; }

.active {
  background-color: #e4d9c1; }

.wrap_for_input {
  margin-top: -20px; }

.wrap_for_input.wrap_for_input6 {
  margin-top: 1px; }

.site {
  position: relative;
  bottom: 50px;
  right: -1000px;
  color: #fff;
  font-family: 'PT Sans', sans-serif; }

.contact {
  font-family: 'PT SansBold', sans-serif;
  color: #fff; }

.butt {
  width: 56px;
  height: 56px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  /*background-color: #443e33;*/
  position: absolute;
  top: 40px;
  right: -1200px;
  background: #443e33 url("../img/pie.png") no-repeat center; }

.addr {
  color: #fff;
  font-family: 'PT Sans', sans-serif; }

.con {
  position: absolute;
  bottom: 0px;
  right: -1200px;
  text-align: right; }

.box-opacity {
  position: absolute;
  top: 0;
  /*left: 18px;*/
  /*left: 600px;*/
  width: 500px;
  height: 1064px;
  background-color: #695d47;
  /*opacity:0;*/
  opacity: 0.9;
  left: -2px;
  -webkit-animation: b_o 1s;
          animation: b_o 1s; }

.title {
  text-align: center;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 28px;
  top: 0;
  left: 0; }

.titleFade {
  text-align: center;
  color: #fff;
  font-family: "Magistral";
  position: absolute;
  /*top:200px;*/
  top: 0;
  left: 90px;
  /*font-family: 'PT Sans', sans-serif;*/
  font-size: 28px;
  -webkit-animation: t_f 1s;
          animation: t_f 1s; }

.inner_anim_left {
  position: absolute;
  top: 120px;
  left: 0;
  /*left:-700px;*/
  /*background-color: green;*/
  /*background-color: rgba(105, 93,71,.5);*/
  width: 500px;
  /*z-index:-100;*/
  padding: 30px;
  /*opacity:0;*/
  opacity: 0.9;
  -webkit-animation: i_l 1s ease-in;
          animation: i_l 1s ease-in; }

@-webkit-keyframes b_o {
  0% {
    opacity: 0;
    left: 600px; }
  80% {
    opacity: 0.9;
    left: 0; } }

@keyframes b_o {
  0% {
    opacity: 0;
    left: 600px; }
  80% {
    opacity: 0.9;
    left: 0; } }

@-webkit-keyframes t_f {
  0% {
    top: 400px; }
  80% {
    top: 0; } }

@keyframes t_f {
  0% {
    top: 400px; }
  80% {
    top: 0; } }

@-webkit-keyframes c_d {
  0% {
    margin-left: 1600px; }
  100% {
    margin-left: 0; } }

@keyframes c_d {
  0% {
    margin-left: 1600px; }
  100% {
    margin-left: 0; } }

@-webkit-keyframes i_l {
  0% {
    left: -700px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 0.9; } }

@keyframes i_l {
  0% {
    left: -700px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 0.9; } }

.inner_descr {
  text-align: center;
  color: #fff; }

.for_input {
  /*width: 100%; */
  /*padding: 20px 120px;*/
  /*border: 1px solid #fff;*/
  background-color: #dbdbd5;
  -webkit-border-radius: 30px;
  border-radius: 7px;
  /*float: left;*/
  margin-bottom: 30px;
  display: block;
  padding: 10px 80px; }

#submitMessage {
  background-color: #443e33;
  margin: 0 auto;
  padding: 10px 80px;
  border: 3px solid #443e33;
  color: #fff; }

/*input:first-child{
	width: 100%;
}*/
label {
  color: #fff;
  margin-bottom: 15px;
  display: block; }

#inpKompany, #inpTown, #inpTel, #inpEmail {
  width: 50%;
  padding: 10px 103px; }

#inpName {
  width: 100%; }

.wrap_for_input2, .wrap_for_input3, .wrap_for_input4, .wrap_for_input5 {
  width: 48%;
  display: inline-block; }

.posit {
  position: absolute;
  display: none; }

/*@import "../blocks/__delivery.scss";

@import "../blocks/__prize.scss";
*/
/*@import "../blocks/__nav.scss";*/
/* debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);*/
html, body {
  /* font-family: $font-family-default;
  font-size:$font-size-default;
  line-height:$line-height;
  color:$color-text;
  background-color: $color-background;
  margin:0;
  padding:0;*/
  overflow-x: hidden; }

/*https://webref.ru/dev/automate-with-gulp/responsive*/
/*http://www.creativebloq.com/web-design/flexible-layouts-susy-and-breakpoint-121518452*/
