@import "__variables.scss";
@import "__mixin.scss";


/*@import "reset";*/

@import "../blocks/__header.scss";

html,body{
 /* font-family: $font-family-default;*/
  font-size:$font-size-default;
  line-height:$line-height;
  color:$color-text;
  background-color: $color-background;
  margin:0;
  padding:0;
  /*overflow-x:hidden;*/
}