.makeBySelf{
	@include span(12);
	/*background-color: lightBlue;*/
	margin-top: 20px;
	text-align: center;
}
.makeBySelf_descr{
	display: inline-block;
	padding: 0 25px;
	text-shadow:0 2px black;

	color: #fff;
	font-family: "ProximaNovaBold";
	@include font-size(48px);
	background: url('../img/bgForTitle.jpg') no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.makeBySelf_descr-under{
	@include font-size(48px);
	font-family: "ProximaNovaBold";
	margin-top: -50px;

}
.makeBySelf-number{
	@include font-size(48px);
	font-family: "ProximaNovaBold";
	color: #d80e00;
}
.backgroundHouse{
	position: relative;
	width: 100%;
	height: 600px;
	background:url('../img/zamok.png')no-repeat 200px 200px,url('../img/mapHous.jpg')no-repeat center;
	margin-top: -50px;
}
.plenka, .okant,.luvers{
	position: absolute;
	color: #fff;
	font-family: "ProximaNovaRegular";
	text-transform: uppercase;

}
.plenka{
	top: 450px;
    left: 430px;
	transform: rotate(-90deg);
	
	
}
.okant{
	top: 530px;
    left: 310px;
    transform: rotate(-7deg);
}
.luvers{
	    top: 290px;
    left: 262px;
    background: url(../img/text1.png) no-repeat center;
    width: 170px;
    height: 140px;

}
.whatClick{
	width: 185px;
	height: 70px;
	position: absolute;
	top: 190px;
    left: 430px;
	background: linear-gradient(to right, #7d0800,#c30e01);
}
.what{
	width: 185px;
	height: 70px;
	position: absolute;
	top: 190px;
    left: 430px;
	background: #fff;
}
.innerGrad{
	
	font-family: "ProximaNovaBold";
	margin-top: 15px;
    text-align: left;
    @include font-size(18px);

}
.innerGradClick{
	color: #fff;
	font-family: "ProximaNovaBold";
	margin-top: 15px;
    text-align: left;
    @include font-size(18px);
}
.forVideo{
	width: 360px;
	height: 180px;
	position: absolute;
	background-image: url('../img/spriteButton10.png');
	background-repeat: no-repeat;
	background-position:   0px -183px ;
	    top: 140px;
    left: 260px;
    border: 3px solid transparent;
    &:hover{
    	background-image: url('../img/spriteButton10.png');
    	background-repeat: no-repeat;
    	background-position: 0 1px ;
    }
}
/*.forVideoClick{
	width: 190px;
	height: 180px;
	position: absolute;
	background-image: url('../img/spriteButton.png');
	background-repeat: no-repeat;
	background-position:  -368px -368px;
	    top: 90px;
    left: 260px;
    border: 3px solid transparent;
}*/
.window_atenthion{
	color: #a21f16;
}
.window_atenthion-click{
	
	color: #fff;
}
.wrapForquality{
	@include span(12);
	
	margin-top: 220px;
}
.quality1{
	@include span(1.5 of 12 last);
	background-color: #fff;
	margin-top: 148px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.qualityDescr{
	text-align:left;
	font-family: "ProximaNovaBold";
	margin-left: 20px;

}
.quality2{
	@include span(2.3 of 12 last);
	background:url('../img/awads.jpg')no-repeat center;
	height: 300px;
	margin-right: 100px;

}
.how{
	@include span(8);
	@include push(2);

	/*background-color: green;*/
	}
.how_item{
	@include span(4 of 12);
	background-color: #fff;
	font-family: "ProximaNovaBold";
	text-align: center;
}
.how_item-last{
	@include span(4 of 12 last);
	background-color: #fff;
	font-family: "ProximaNovaBold";
	text-align: center;
}
.red{
	color: #da030e;
	font-family: "ProximaNovaBold";

}

@media(max-width:1185px){
	.quality2,.quality1{
		display: none;
	}
	
}

	@media(max-width:650px){
		.forVideo{
			left:20%;

		}
		.how_item{
	@include span(12 of 12);
	margin-top: 30px;
	}
	.how_item-last{
	@include span(12 of 12 last);
	margin-top: 30px;
}
.makeBySelf_descr{
	font-size: 28px
}
.makeBySelf_descr-under {
    font-size: 28px;
   
    margin-top: 0;
}
}
