.work{
	background-color: #f8f9f9;
	padding: 100px 0 80px;

}
.work ul{
	margin-left: -40px;
}
.work-list li{
	display: inline-block;
	margin-right:40px;
	
}
.work-list li a{
&:hover{
		color:#ff8400;

	}
	}
.work p {
    line-height: 45px;
}

.w-active{
	color:#ff8400;
	position: relative;
	&:after{
		position: absolute;
content:'';
width:64px;
height:  3px;
top:20px;
left:-5px;
background:#ff8400;
	}

}
.work-make-left {
    text-align: center;
}

.work{
	width: 70%;
	margin: 0 auto;
}
.container-my-workflow{
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px 0;
}
.row-workflow1{
	width: 500px;
	margin: auto;
}
.work-make-left{
	margin: 0 auto;
}
.row>img{
	width: 147px;
	height: auto;
}