html, body{
    background-color: midnightblue;

}
main{
	/*max-width:1189px;
    height: 100vh;*/
	margin: 0 auto;
	background-color: midnightblue;

}
svg {
    width: 100%;
    
    height: auto;
}
#block3 {
	position: relative;
    width: 30%;
    height: 300px;
    border: 1px solid red;
    position: absolute;
    top: 130px;
    left: 0;
    /*display: none;*/
    border-radius:10px;
    background: linear-gradient(to bottom, #fefcea, #d2ea00);
    left: 50%;
    margin-left: -15%;

   /* background-color: yellow;*/

}
.fil30{
	fill:#D2EA00;
	fill:green;

}

.cross {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: olive;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    border: 2px solid #fff;
}