.suggest{
	text-align: center;
	position: relative;
	background-color: #EDFFDB;
	padding-top: 40px;
	padding-bottom: 100px;
}
.wrapForSuggestItem{
	
	margin-bottom: 120px;
}
.wrapForEach{
	
	padding: 0 10px;
	float: left;
    width: 20%;
	
}
.suggest_item1{
	height: 200px;

	background: url('../img/strawberry.png')no-repeat center;
	
	
}
.suggest_item2{
	height: 200px;

	background: url('../img/chocolate.png')no-repeat center;
	
	
}
.suggest_item3{
	height: 200px;

	background: url('../img/marshmallow.png')no-repeat center;
	
	
}
.suggest_item4{
	height: 200px;

	background: url('../img/chocolate-fountain.png')no-repeat center;
	
	
}
.suggest_item5{
	height: 200px;

	background: url('../img/bow.png')no-repeat center;
	
	
}
.wrapForEach-last{
	
}
.wrapForSafe{
	
}
.wrapForSafeItem{
	
    margin: 0 45px;
    /* flex: 1; */
    float: left;
    width: 25%;
    
    /* display: inline-block; */
}

.round_suggest{
	position: absolute;
	left:50%;
	margin-left: -35px;
	width: 70px;
	height: 70px;
	border-radius:50%;
	border: 14px solid #fff;
	/*background-color: #d3bfb6;*/
	z-index: 10;
	background:#d3bfb6 url('../img/arrowDown.png')no-repeat center;
	bottom: -38px;
}


/*@media screen and(min-width: 1200px){
	.wrapForSuggestItem{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}*/
@media screen and(max-width: 1200px){
	.wrapForEach{
		float: none;
		width: 100%;
	}
	.wrapForSafeItem{
	
    margin: 0 auto;
    
    float: none;
    width: 100%;
    
   
}
	}

/*@media screen and(min-width: 1200px){
	.wrapForSafeAll{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	
}*/
@media screen and(max-width: 1200px){
.safe {
    height: 300px;
    
    width: 50%;
    margin: 0 auto;
}
}


/*.wrapForSafeItem1{
	@include span(2 of 12);
	
}
.wrapForSafeItem2{
	@include span(2 of 12);
	
}
.wrapForSafeItem3{
	@include span(2 of 12);
	
}*/
/*.wrapForSafeItem-last{
	@include span(2 of 12);
}*/
.safe{
	height: 300px;
	background: url('../img/safe1.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.row_suggest{
	width: 100%;
	overflow: hidden;
	background-color: red;
}
#new_suugest .col-md-2,  .col-lg-2{
	margin-left: 30px;
}

/*доп разметка для 5-ти колонок */
/*.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-five {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}*/
/*еще вариант в 5 колонок -не проверено  */
/*<div class="row">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <div class="col-sm-12">Column 1</div>
    </div>
    <div class="btn-group">
      <div class="col-sm-12">Column 2</div>
    </div>
    <div class="btn-group">
      <div class="col-sm-12">Column 3</div>
    </div>
    <div class="btn-group">
      <div class="col-sm-12">Column 4</div>
    </div>
    <div class="btn-group">
      <div class="col-sm-12">Column 5</div>
    </div>
  </div>
</div>

Если надо на каком-то разрешении выстроить их по вертикали, нужно просто сделать display: block классу .btn-group.*/