.testimonialBoot{
	
	position: relative;
	background-color: #FFFBE7;
	padding-top: 40px;
	padding-bottom: 100px;
	text-align: center;
}
.prices_titleTestim {
    margin-top: 30px;
    
    color: #6b2f23;
    text-transform: uppercase;
    font-size: 24px;
    
}
.testimon_inner{
width: 200px;
    height: 145px;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	border:1px inset #222;
	
	
}
.testimon_innerFoto{
/*width: 200px;*/
    height: 300px;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	border:1px inset #222;
	
	
}
.testimon_inner-img1{
background: url('../img/shok1.jpg')no-repeat center;

}
.testimon_inner-img2{
background: url('../img/shok2.jpg')no-repeat center;

}
.testimon_inner-img3{
background: url('../img/shok3.jpg')no-repeat center;

}
.testimon_inner-img4{
background: url('../img/shok4.jpg')no-repeat center;

}
.testimon_inner-img5{
background: url('../img/shok5.jpg')no-repeat center;

}
.testimon_inner-img6{
background: url('../img/shok6.jpg')no-repeat center;

}
.testimon_inner-img7{
background: url('../img/shok7.jpg')no-repeat center;

}
.testimon_inner-img8{
background: url('../img/shok8.jpg')no-repeat center;

}
.testimon_inner-img9{
background: url('../img/shok9.jpg')no-repeat center;

}

.testimon_innerFoto-img1{
background: url('../img/testim.jpg')no-repeat center;
-webkit-background-size: cover;
background-size: cover;

}
.testimon_innerFoto-img2{
background: url('../img/testim.jpg')no-repeat center;
-webkit-background-size: cover;
background-size: cover;

}
.testimon_innerFoto-img3{
background: url('../img/testim.jpg')no-repeat center;
-webkit-background-size: cover;
background-size: cover;

}
.testimon_innerFoto-img4{
background: url('../img/testim.jpg')no-repeat center;
-webkit-background-size: cover;
background-size: cover;

}
.testimon_innerFoto-img5{
background: url('../img/testim.jpg')no-repeat center;
-webkit-background-size: cover;
background-size: cover;

}
.testimon_innerFoto-img6{
background: url('../img/testim.jpg')no-repeat center;

-webkit-background-size: cover;
background-size: cover;
}
.testimon_innerFoto-img7{
background: url('../img/testim.jpg')no-repeat center;
-webkit-background-size: cover;
background-size: cover;

}
.wrapForTestimon{
	border:1px inset #222;
	flex-grow:1;
}
.testim_descr{
margin: 40px 0;

border:1px inset #222;
line-height: 1.8;

padding: 0 30px;
}
.testim_descrOwl{

line-height: 1.8;

padding: 20px 30px;
}

	
.wrap_for_owl-carousel{
	border:1px solid blue;
	
	/*width:40%;*/
}

.wrapForPrizeAll{
	 flex-grow:1;
	
}
.wrapForImg{
	 flex-grow:1;
display: flex;
	
	flex-flow: row wrap;
display: flex;
  /* Теперь определим, как будет распределяться пространство */
  justify-content: space-around;
	
	

}
.two{
	/*width: 60%;*/
	
	
}
.wrapAllTestimon{
	
	
}
.prize_item {
    /* width: 100%; */
    margin-bottom: 45px;
    
}
.roundTestim{
	position: absolute;
	left:50%;
	margin-left: -35px;
	width: 70px;
	height: 70px;
	border-radius:50%;
	border: 14px solid #fff;
	/*background-color: #d3bfb6;*/
	z-index: 10;
	background:#d3bfb6 url('../img/arrowDown.png')no-repeat center;
	bottom: -40px;
}
.sertifik_item {
    display: inline-block;
    width: 15%;
    /*width: 115px;*/
    height: 95px;
}
.sertifik_item:not(:first-child) {
   
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: 30px;
}

.sertifik_inner-img1{
	background:#d3bfb6 url('../img/sertifik1.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 95px;
}
.sertifik_inner-img2{
	background:#d3bfb6 url('../img/sertifik2.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 95px;
}
.sertifik_inner-img3{
	background:#d3bfb6 url('../img/sertifik3.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 95px;
}
.sertifik_descr{
	color: red;
	font-size: 25px;
	margin: 45px 0;
}


/*@media screen and(min-width: 1200px){
	.wrapAllTestimon{
		display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	}
}
@media screen and(max-width: 1200px){
	
	width:100%;
}
.two {
    width: 100%;
    }
}*/

@media screen and(max-width: 1200px){
.sertifik_item {
    
    width: 25%;
}
}
