@import "__variables.scss";
@import "__mixin.scss";


/*@import "reset";*/

@import "../blocks/__header.scss";
@import "../blocks/__about.scss";
@import "../blocks/__make.scss";
@import "../blocks/__work.scss";
@import "../blocks/__notification.scss";
@import "../blocks/__user.scss";
@import "../blocks/__contacts.scss";
html,body{
 /* font-family: $font-family-default;*/
  font-size:$font-size-default;
  line-height:$line-height;
  /*color:$color-text;*/
  background-color: $color-background;
  margin:0;
  padding:0;
  /*overflow-x:hidden;*/
}