html, body{
	margin:0;
	padding: 0;
}
a{
	 display: inline-block;
}
header{
	background:url("../img/bg-akva.jpg") no-repeat;
	min-height: 780px;
	-webkit-background-size: cover;
	background-size: cover;
}
nav ul li{
	display: inline-block;
}
.top-header{
	min-height: 100px;
	/*border-bottom-width:20px ;
	border-image: url("../img/border-bottom.png")repeat;
	 border-image: url("../img/border-bottom.png") 30 round round;*/
	   -webkit-border-image:url("../img/border-bottom.png") 12 0 repeat;
	  
	
}
.top-header li a{
	color: #fff;
	font-size: 18px;
	line-height: 100px;
}
.logo {
    margin-top: 8px;
}
ul {
    padding: 0;
   
}
ul li+li{
	margin-left: 14px;
}

	.button {
    color: #fff;
    font-size: 20px;
    line-height: 130px;
    vertical-align: middle;
    white-space: nowrap;
}

.button-border {
    border: 2px solid #fff;
    -webkit-border-radius: 7px;
    border-radius: 18px;
    line-height: 30px;
    margin-top: 45px;
    padding: 0 15px;
}
header h1{
	font-size: 48px;
	color: #fff;
	margin-top:260px;
}
/*
#borderimg:after {  
content: "";
    border-bottom: 16px solid transparent;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -16px;
    -webkit-border-image: url(http://www.panabee.com/images/dumpling/footer_list.png); 
    -o-border-image: url(http://www.panabee.com/images/dumpling/footer_list.png); 
    border-image: url(http://www.panabee.com/images/dumpling/footer_list.png) ;
    border-image-slice: 8;
    border-image-width: 8px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    }
*/
/*
вариант с градиентом
element {

border-image-source: linear-gradient(10deg, #fe01f5 0%, #2e113d 100%);

}
*/