@charset "UTF-8";
/*@import "reset";*/
@font-face {
  font-family: Exo2 0-Thin;
  /* имя шрифта для CSS правил */
  src: local("Exo2.0-Thin"), url(../fonts/Exo2.0-Thin.otf);
  /* если шрифт не установлен, тогда загружаем его по указанному пути */ }

html {
  height: 100%; }

body {
  height: 100%;
  background: url("../img/bg.jpg") repeat;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Exo 2.0 Thin'; }
  body:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/grad.png") repeat;
    /*background:linear-gradient(to bottom,rgba(0,0,0,.3),rgba(255,255,255,.3),rgba(0,0,0,.3));*/ }

/*.about-catfood{

padding: 50px 30px 70px;
background-color: lightgreen;
display: flex;
    flex-direction: column;
 
color:#fff;
text-align: center;	
	
}*/
.container {
  max-width: 1300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background-color: lightyellow;
  color: #222; }

/*.card{
background-color: lightgrey;
	
	display: flex;
	 
	text-align: left;
	
}*/
.bg-animal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 315px;
      -ms-flex: 1 1 315px;
          flex: 1 1 315px;
  position: relative;
  padding-left: 43px;
  padding-bottom: 300px;
  padding-right: 60px;
  border: 3px solid #1698d9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #f2f2f2 url("../img/catBg.png") no-repeat -30px 190%; }

/*.label-wrap:last-child {
	margin-bottom:70px;
	margin-top: 25px;
}*/
.about-catfood h1 {
  color: #fff;
  text-align: center;
  font-family: 'Exo 2.0 Thin';
  margin-bottom: 20px; }

.bg-animal h1 {
  font-size: 48px;
  color: #222;
  font-weight: bold;
  font-family: 'Trebuchet MS'; }

.bg-animal h4 {
  margin-bottom: -45px;
  color: #000; }

.label-wrap {
  /*display: block;*/
  position: relative;
  text-align: left;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px; }

#descr-hen, #descr-fya, #descr-fish {
  position: absolute;
  top: 500px;
  left: 0;
  font-size: 13px;
  white-space: nowrap;
  text-align: center;
  display: none; }

.corner {
  position: absolute;
  width: 30px;
  height: 50px;
  border-right: 3px solid #1698d9;
  top: -18px;
  left: -8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 10; }
  .corner:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 50px;
    background: url("../img/bg.jpg")-132%;
    top: 0px;
    left: 0; }

.label-price {
  color: #fff;
  outline: 1px solid red;
  display: block;
  position: absolute;
  top: 510px; }

.link {
  display: inline-block;
  color: #1698d9;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px  dashed #1698d9; }

span {
  display: block;
  font-size: 24px;
  text-align: left;
  margin-bottom: -10px; }

.bg-animal p {
  font-size: 14px;
  line-height: 1;
  color: #000;
  text-align: left; }

p {
  color: #000; }

.price {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #1698d9;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  bottom: 10px;
  right: 10px;
  font-size: 22px;
  font-family: 'Trebuchet MS';
  z-index: 3; }
  .price:hover {
    background-color: #2ea8e6; }

.part {
  width: 50px;
  border: 1px solid yellow;
  line-height: 1.2;
  text-align: center;
  -webkit-transform: translate(-15px, 0px);
      -ms-transform: translate(-15px, 0px);
          transform: translate(-15px, 0px); }

.inner-price {
  width: 30px;
  border: 1px solid red;
  line-height: 1.2;
  text-align: center;
  -webkit-transform: translate(25px, 5px);
      -ms-transform: translate(25px, 5px);
          transform: translate(25px, 5px); }

.inner-price span {
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 42px; }

input[type="checkbox"] {
  display: none; }

#hen:checked ~ .disable {
  position: relative;
  border: 3px solid transparent; }
  #hen:checked ~ .disable:before {
    position: absolute;
    content: '';
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: lightgrey;
    opacity: 0.7;
    border: 3px solid #b3b3b3;
    z-index: 1; }

.hen-last:checked ~ .corner {
  border-right: 3px solid #b3b3b3; }

.hen-last:checked ~ #descr-hen {
  display: block;
  color: #d1d152;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }

.hen-last:checked ~ .label-price, #fya:checked ~ .label-price, #fish:checked ~ .label-price {
  display: none; }

.hen-last:checked ~ .price {
  background-color: #b3b3b3; }

#fya:checked ~ .price, #fish:checked ~ .price {
  background-color: #d91667; }
  #fya:checked ~ .price:hover, #fish:checked ~ .price:hover {
    background-color: #e62e7a; }

#fya:checked ~ #descr-fya, #fish:checked ~ #descr-fish {
  display: block;
  color: #fff;
  /*color: #d1d152;*/
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }

input:checked ~ .bg-animal {
  position: relative;
  border: 3px solid transparent; }
  input:checked ~ .bg-animal:before {
    position: absolute;
    content: '';
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    opacity: 0.7;
    border: 3px solid #d91667;
    z-index: 1; }

input:checked ~ .corner {
  border-right: 3px solid #d91667; }

/*@media screen and(max-width:1170px){
	.container{
		width: 700px;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-around;
	}
	.label-wrap:last-child {
margin-top: 60px;
	}
	body{
		justify-content: flex-start;
	}
}
@media screen and(max-width:600px){
	.container{
		
		flex-direction: column;
		align-items: center;
	}
	body{
		justify-content: flex-start;
	}
}*/
