@charset "UTF-8";
/*@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}*/
/*p {
  @include font-size(13);
} */
/*Медиа-запросы
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
   $width: map_get($breakpoints, $width);
   @if $type == max {
    $width: $width - 1px;
   }
   @media only screen and (#/*{$type}*/
/*-width: $width) {
    @content;
   }
  }
}

Используем
.site-header {
  padding: 2rem;
  font-size: 1.8rem;
  @include mq('tablet-wide') {
   padding-top: 4rem;
   font-size: 2.4rem;
  }
}*/
/*
Использовать можно так:

p {
  @include font-size(14px)
}
На выходе получим:

p {
  font-size: 14px; //перезапишется если браузер поддерживает размерность в rem
  font-size: 0.8rem;
}
*/
@media (min-width: 0) {
  body::before {
    content: '{ "current" : "small", "all" : [small ], "position" : 0 }';
    display: none; } }

/*! Grid based on https://github.com/necolas/griddle by Nicolas Gallagher (@necolas) */
body {
  font-size: 1em; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25em;
  padding-right: 1.25em; }

img {
  max-width: 100%; }

.no-js .responsive-image {
  display: none; }

.grid {
  display: block;
  padding: 0;
  margin: 0 -0.625em;
  text-align: left;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed; }

.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em; }

.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0; }

.grid__cell {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.625em;
  /* controls vertical positioning of units */
  vertical-align: top;
  /* keeps unit content correctly aligned */
  text-align: left;
  /* reset text defaults */
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto; }

.grid--center {
  text-align: center; }

.grid__cell--center {
  display: block;
  margin: 0 auto; }

/*@import "reset";*/
/*header*/
/*.wrapper_for_all{

	@include container;
	background-color: skyBlue;
	text-align: center;
	padding: 0 20px;
}*/
.wrapper_for_header {
  width: 100%;
  float: left;
  background: url("../img/bgHeader2.jpg") no-repeat center;
  background-size: cover; }

.wrapInnerHeader {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto; }
  .wrapInnerHeader:after {
    content: " ";
    display: block;
    clear: both; }

/*.top{
	width: 100%;
	float: left;
	background: url('../img/bgHeader1.jpg')no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}*/
.top_line {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.linkForLogo {
  display: inline-block;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }

.callWrap {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  display: block;
  margin-top: 20px; }

.wrapForTel {
  font-size: 28px;
  color: #6b2f23;
  font-weight: bold; }

.img_logo {
  display: inline-block; }

.wrapForFont {
  /*@include container(1200px);*/
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-align: center;
  /*background-color:lightGreen;*/
  padding-bottom: 140px;
  border-bottom: 1px solid lightGrey; }

.imgAside {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  background: url("../img/bgleft.png") no-repeat;
  background-size: cover;
  height: 600px; }

.imgAside2 {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  background: url("../img/cakeManySmall.jpg") no-repeat;
  background-size: cover;
  height: 600px; }

/*.titleTop, h2,.order{
	@include span(6 of 12);
}*/
.titleTop {
  margin-top: 70px;
  color: #e73526;
  font-size: 50px;
  text-transform: uppercase; }

.underTitleTop {
  margin-top: 70px; }

.innerWrap {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 25.42373%; }

.order {
  display: inline-block;
  position: relative;
  padding: 20px 140px;
  background-color: #e73526;
  -webkit-border-radius: 70px;
          border-radius: 70px;
  margin-top: 100px;
  color: #fff;
  font-size: 28px;
  font-size: 1.75rem; }

.berry {
  position: absolute;
  top: 80px;
  right: -30px;
  display: block; }

.wrapForBerry {
  position: relative; }

.call {
  padding: 4px 30px;
  background-color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #f13526;
  font-size: 18px;
  display: block;
  margin-top: -20px;
  font-weight: bold; }

.round {
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 14px solid #fff;
  background-color: #d3bfb6;
  z-index: 10; }

.arrow-down.icon {
  color: #000;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
  /*width: 1px;*/
  height: 16px;
  background-color: currentColor; }

.arrow-down.icon:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

@media (max-width: 900px) {
  .wrapForFont {
    /*@include container(800px);*/
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    background-color: lightGreen;
    padding-top: 20px;
    padding-bottom: 60px; }
  .imgAside {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: url("../img/cakeManySmall.jpg") no-repeat;
    background-size: cover;
    height: 600px; }
  .imgAside2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: url("../img/cakeManySmall.jpg") no-repeat;
    background-size: cover;
    height: 600px; }
  /*.titleTop, h2,.order{
	@include span(6 of 12);
}*/
  .titleTop {
    margin-top: 70px; }
  .underTitleTop {
    margin-top: 70px; }
  .innerWrap {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .order {
    display: inline-block;
    padding: 20px 140px;
    background-color: red;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    margin-top: 100px;
    color: #fff;
    font-size: 32px;
    font-size: 2rem; } }

body {
  /*@include container(1240px);*/
  /*@include container(80em);*/
  /*width:100%;*/
  /* font-size: 62.5%;*/
  background-color: skyBlue;
  text-align: center;
  padding: 0 20px;
  font-size: 16px;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif; }

.upper {
  /*font-family: 'Over the Rainbow', cursive;*/
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 36px;
  font-weight: bold;
  color: chocolate; }

span {
  display: block; }

.start {
  float: left; }

.linkForLogo {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }

.generalLogo {
  display: inline-block;
  padding: 20px;
  /* background-color: brown;*/
  background-color: #66442c;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px double yellow; }

.wrapLetters {
  margin-left: 30%; }

.f {
  color: magenta;
  -webkit-animation: cYel 3s infinite;
          animation: cYel 3s infinite; }

.s {
  color: yellow;
  -webkit-animation: cMag 3s infinite;
          animation: cMag 3s infinite; }

.th {
  color: teal;
  -webkit-animation: cTea 3s infinite;
          animation: cTea 3s infinite; }

@-webkit-keyframes cYel {
  0% {
    color: magenta; }
  80% {
    color: yellow; } }

@keyframes cYel {
  0% {
    color: magenta; }
  80% {
    color: yellow; } }

@-webkit-keyframes cMag {
  0% {
    color: yellow; }
  80% {
    color: teal; } }

@keyframes cMag {
  0% {
    color: yellow; }
  80% {
    color: teal; } }

@-webkit-keyframes cTea {
  0% {
    color: teal; }
  80% {
    color: magenta; } }

@keyframes cTea {
  0% {
    color: teal; }
  80% {
    color: magenta; } }

.topNavUpper ul li {
  display: inline-block; }

.topNavUpper ul li a {
  font-size: 18px;
  color: #6b2f23;
  font-weight: bold; }

.topNavUpper ul li a.topNav-item-active {
  color: #f13526; }

a {
  text-decoration: none;
  list-style-type: none; }

.topNavUpper {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  display: block;
  margin-top: 25px; }

.topNav-item {
  margin-left: 15px; }

.prices {
  /*@include container(92em);*/
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  /*background-color: #E1D6BD;*/
  padding-top: 40px;
  padding-bottom: 200px; }

.prices_title {
  margin-top: 30px;
  color: #6b2f23;
  text-transform: uppercase;
  font-size: 50px; }

.prices_img {
  width: 100%; }

.wrapInnerPrices {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  color: #e73526; }
  .wrapInnerPrices:after {
    content: " ";
    display: block;
    clear: both; }

.price_descr {
  font-size: 24px; }

.prices_item {
  position: relative;
  padding-bottom: 40px;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  /*box-shadow:inset 1px 1px 1px  lightGrey ;*/
  -webkit-box-shadow: 0px 0px 3px lightgrey;
          box-shadow: 0px 0px 3px lightgrey; }

.wrapForNav {
  width: 100%;
  float: left; }

.price_item_nav {
  float: left; }

.prices_item-Middle {
  -webkit-transform: scaleY(1.1);
      -ms-transform: scaleY(1.1);
          transform: scaleY(1.1);
  -webkit-box-shadow: 0px 0px 3px #e73526;
          box-shadow: 0px 0px 3px #e73526;
  margin-top: 35px; }

.prices_itemLast {
  width: 32.20339%;
  float: right;
  margin-right: 0; }

.item {
  list-style-type: none;
  text-align: left; }

.price {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 23px;
  color: #e73526; }

.price1 {
  font-weight: bold;
  display: inline-block;
  margin-top: 23px;
  color: #fff; }

.priceMiddle {
  float: none;
  margin-left: 0; }

.orderPrices {
  display: inline-block;
  text-align: center;
  margin-top: 12px;
  padding: 12px 60px;
  background-color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 2px inset #e73526;
  color: #e73526;
  font-size: 32px;
  font-size: 2rem; }

.orderPricesMiddle {
  display: inline-block;
  padding: 12px 60px;
  background-color: red;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-size: 2rem; }

.present {
  /*@include container(90em);*/
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background: url("../img/bg3.jpg") no-repeat;
  background-size: cover;
  /*background-color: #7FD7A4;*/
  padding-top: 40px; }

.form_present {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 12.71186%;
  display: block;
  /*background-color: green;*/ }

.wrap_form {
  width: 31.81818%;
  float: left;
  margin-right: 2.27273%; }

.wrap_form-last {
  width: 31.81818%;
  float: right;
  margin-right: 0; }

.for_form {
  /*width: 100%;*/
  padding: 20px 60px;
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

input[type="text"]::-webkit-input-placeholder {
  color: #6b2f23;
  font-weight: bold;
  font-size: 18px; }

input[type="text"]::-moz-placeholder {
  color: #6b2f23;
  font-weight: bold;
  font-size: 18px; }

input[type="text"]:-ms-input-placeholder {
  color: #6b2f23;
  font-weight: bold;
  font-size: 18px; }

input[type="text"]::placeholder {
  color: #6b2f23;
  font-weight: bold;
  font-size: 18px; }

.for_form-last {
  background-color: red;
  border: 2px solid red;
  padding: 20px 80px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; }

.prices_title-present {
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px; }

.dsCountDown.ds-white {
  background-color: transparent;
  border: 1px solid transparent; }

.suggest {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-color: #EDFFDB;
  padding-top: 40px;
  padding-bottom: 100px; }

.wrapForSuggestItem {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 120px; }

.wrapForEach {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }

.wrapForEach:first-child {
  margin-left: 8.47458%; }

.suggest_item1 {
  height: 200px;
  background: url("../img/strawberry.png") no-repeat center; }

.suggest_item2 {
  height: 200px;
  background: url("../img/bow.png") no-repeat center; }

.suggest_item3 {
  height: 200px;
  background: url("../img/marshmallow.png") no-repeat center; }

.suggest_item4 {
  height: 200px;
  background: url("../img/bow.png") no-repeat center; }

.suggest_item5 {
  height: 200px;
  background: url("../img/bow.png") no-repeat center; }

/*.wrapForEach-last{
	@include span(2 of 12 last);
}*/
.wrapForSafe {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.wrapForSafeItem {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }

.wrapForSafeItem1 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 25.42373%; }

/*.wrapForSafeItem2{
	@include span(2 of 12);
	
}
.wrapForSafeItem3{
	@include span(2 of 12);
	
}*/
/*.wrapForSafeItem-last{
	@include span(2 of 12);
}*/
.safe {
  height: 100px;
  background: url("../img/safe1.jpg") no-repeat center;
  background-size: cover; }

.prices_descr {
  width: 90%;
  margin: 0 auto; }

.delivery {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-color: #E8F4F6;
  padding-top: 40px;
  padding-bottom: 100px; }

.wrapForDelivery {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 120px; }

.wrapForEachDelivery:not(:last-child) {
  position: relative;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  -webkit-box-shadow: inset 0px 0px 1px 0px black;
          box-shadow: inset 0px 0px 1px 0px black;
  margin-left: 6.77966%; }
  .wrapForEachDelivery:not(:last-child):before {
    content: '';
    right: -50px;
    top: 65px;
    width: 50px;
    height: 50px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute; }

.wrapForEachDelivery:last-child {
  position: relative;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  -webkit-box-shadow: inset 0px 0px 1px 0px black;
          box-shadow: inset 0px 0px 1px 0px black;
  margin-left: 6.77966%; }

/*.wrapForEachDelivery:first-child{
	@include push(2);
}*/
/*.wrapForEachDelivery-last{
	position: relative;
	@include span(2 of 12);
	box-shadow: inset 0px 0px 1px 0px black;
	@include push(0.5);
	
}*/
.delivery_item {
  height: 200px;
  background: url("../img/deliv1.png") no-repeat center;
  background-size: cover; }

.wrapForFestive {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.wrapForFestiveItem {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }

.wrapForFestiveItem:first-child {
  margin-left: 25.42373%; }

.festive {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background: url("../img/festive1.jpg") no-repeat center;
  background-size: cover; }

.wrapForPay {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px; }

.payDescr {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }

.payItem {
  width: 8.89831%;
  float: left;
  margin-right: 1.69492%;
  -webkit-box-shadow: inset 0px 0px 1px 0px black;
          box-shadow: inset 0px 0px 1px 0px black;
  margin-top: 20px; }

/*.payItem-last{
	@include span(1.25 of 12 last);
}*/
.testimonial {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-color: #FFFBE7;
  padding-top: 40px;
  padding-bottom: 100px; }

.testimon_inner {
  width: 80%;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
  border: 1px inset #222; }

.testimon_inner-img1 {
  background: url("../img/testimon1.jpg") no-repeat center; }

.testimon_inner-img2 {
  background: url("../img/testimon2.jpg") no-repeat center; }

.testimon_inner-img3 {
  background: url("../img/testimon3.jpg") no-repeat center; }

/*.wrapForTestimon{
	border:1px inset #222;
}*/
.testim_descr {
  width: 80%;
  margin: 0 auto;
  border: 1px inset #222; }

.wrapForPrizeAll {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  margin-top: 50px; }

.wrapForSertifik {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  background-color: magenta;
  padding-bottom: 60px; }

.wrapForImg {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  background-color: navy; }

.sertifik_descr, .img_descr {
  text-align: center;
  text-align: left;
  padding-left: 30px;
  font-size: 30px;
  font-size: 1.875rem; }

/*.prize_item{
	@include span(1 of 8);
	
	
	

}*/
/*.prize_item-arrow{
	@include span(1.5 of 8);
	height: 200px;

}
.prize_item-arrow-last{
	@include span(1.5 of 8 last);
	height: 200px;

}*/
.prize_inner {
  width: 80%;
  height: 200px;
  background: url("../img/prize1.jpg") no-repeat center;
  background-size: cover;
  margin: 0 auto;
  border: 1px inset #222; }

.sertifik_item {
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
  height: 200px;
  background: url("../img/prize1.jpg") no-repeat center;
  background-size: cover;
  margin-left: 30px; }

.bottom {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 100px;
  text-align: center; }

.footer-left {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  background-color: #fff; }

.footer-right-last {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  background-color: #fff; }

/*@import "../blocks/__nav.scss";*/
/* Susy*/
/*html,body{
  font-family: $font-family-default;
  font-size:$font-size-default;
  line-height:$line-height;
  color:$color-text;
  background-color: $color-background;
  margin:0;
  padding:0;*/
/*overflow-x:hidden;*/
/*}*/
/*https://webref.ru/dev/automate-with-gulp/responsive*/
/*http://www.creativebloq.com/web-design/flexible-layouts-susy-and-breakpoint-121518452*/
