ul li{
	list-style: none;

}
ul{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.container_add{
	max-width:1024px;
	/*width: calc(1024px / 1600px * 100) + %;*/
	width:64%;
	margin: 0 auto;
	outline: 1px solid yellow;

}
.wrapper{
	max-width:1600px;
	width: 100%;
	background-color: red;
	margin:0 auto;


}
.top{
	outline: 1px solid green;
	width: 100%;
}