body{
	font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
}
.wrapper{
	/*max-width:1600px;*/
	min-width:300px;
	/*width: 100%;*/
	background-color: red;
	margin:0 auto;


}
ul li{
	list-style: none;

}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: magenta;
}
ul{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #fff;
	
}
.container_add{
	max-width:1024px;
	
	/*width: calc((1024/1600)*100%) ;*/
	/*width: calc(100% - 20px);*/
	/*width:64%;*/
	margin: 0 auto;
	outline: 1px solid yellow;

}

.top{
	outline: 1px solid green;
	width: 100%;
	background:url('../img/kuropatochnaja-gostinaja.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}