@charset "UTF-8";
/*tiffany*/
/*@import "reset";*/
li {
  list-style-type: none;
  text-decoration: none; }

body {
  padding-top: 50px; }

.top_header {
  width: 100%;
  /*max-width: 780px;*/ }

.top_header a[href="order.html"] {
  /* width: 100%;*/
  display: inline-block;
  line-height: 3.3;
  color: #02cdd1;
  border: 1px solid #02cdd1;
  padding: 0 35px; }

.wrap_call {
  text-align: right; }

/*.logo{
	width: 100%;
}*/
img[src="img/logo.png"] {
  /*width: 100%;*/
  margin-top: -10px;
  width: 360px;
  height: 70px; }

.wrap_span_tel {
  line-height: 2.6;
  font-size: 18px; }

.toggle_top_header {
  width: 50px;
  height: 50px; }

.fa-bars {
  font-size: 50px;
  line-height: 1.0; }

/*@media screen and(min-width:779px){
	.toggle_top_header{
		display: none;
	}

}
@media screen and(max-width:778px){
	.toggle_top_header{
		display: block;
	}
	.wrap_call,.wrap_span_tel{
		display: none;

	}
}*/
/*@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
 
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
 
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
 
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}*/
.top_nav {
  width: 100%;
  background-color: #02cdd1;
  text-align: center;
  margin-top: 50px; }

.top_nav li {
  display: inline-block; }

.top_nav li a {
  padding: 60px 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  position: relative; }

.mot {
  position: relative; }
  .mot:before {
    content: url(../img/pic1.png);
    position: absolute;
    top: 0;
    left: 30px;
    width: 60px;
    height: 60px;
    display: block; }

.kat {
  position: relative; }
  .kat:before {
    content: url(../img/kat.png);
    position: absolute;
    top: 0;
    left: 8px;
    width: 60px;
    height: 60px;
    display: block; }

.par {
  position: relative; }
  .par:before {
    content: url(../img/par.png);
    position: absolute;
    top: 0;
    left: 25px;
    width: 60px;
    height: 60px;
    display: block; }

.tep {
  position: relative; }
  .tep:before {
    content: url(../img/tep.png);
    position: absolute;
    top: 0;
    left: 25px;
    width: 60px;
    height: 60px;
    display: block; }

.map {
  position: relative; }
  .map:before {
    content: url(../img/map.png);
    position: absolute;
    top: -10px;
    left: 25px;
    width: 60px;
    height: 60px;
    display: block; }

.about {
  position: relative; }
  .about:before {
    content: url(../img/info.png);
    position: absolute;
    top: -10px;
    left: 25px;
    width: 60px;
    height: 60px;
    display: block; }

.st {
  position: relative; }
  .st:before {
    content: url(../img/articles.png);
    position: absolute;
    top: -10px;
    left: 0;
    width: 60px;
    height: 60px;
    display: block; }

.otz {
  position: relative; }
  .otz:before {
    content: url(../img/otz.png);
    position: absolute;
    top: -10px;
    left: 5px;
    width: 60px;
    height: 60px;
    display: block; }

.call {
  position: relative; }
  .call:before {
    content: url(../img/call.png);
    position: absolute;
    top: -10px;
    left: 5px;
    width: 60px;
    height: 60px;
    display: block; }

.inner {
  padding: 100px 0 60px;
  margin: 0; }

.descr {
  /*text-align: center;*/
  position: relative; }

img {
  width: 100%; }

.return {
  font-size: 12px;
  color: #02cdd1;
  position: relative;
  left: -200px; }
  .return:before {
    content: url(../img/arr.png);
    position: absolute;
    top: 0;
    left: -55px;
    width: 60px;
    height: 60px;
    display: block; }

.teploh-descr {
  font-size: 30px;
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 0;
  position: relative; }

.order {
  display: inline-block;
  text-transform: uppercase;
  padding: 18px  40px;
  background-color: #02cdd1;
  color: #fff;
  text-decoration: none; }
  .order:hover {
    background-color: #02bec2; }

.price-bron {
  position: absolute;
  bottom: 20px;
  right: 150px; }

.price {
  color: #fff;
  margin-right: 30px; }

a {
  text-decoration: none;
  color: #000; }

.under_foto {
  text-align: left;
  margin-left: 70px;
  background-color: #f7f7f7;
  overflow: hidden;
  width: 97.5%;
  padding: 35px 40px;
  margin: 0 auto; }

.li_under_foto {
  border-bottom: 1px dotted #C2C2C2;
  /* Необязателен. Здесь задается толщина, тип и цвет точек */
  position: relative;
  padding: 0;
  margin-bottom: 5px; }

ul.oglavl {
  /*padding: 0;
    margin: 0;*/
  list-style-type: none; }

.text {
  bottom: -5px;
  position: relative;
  background-color: #f7f7f7; }

/*ul.oglavl li {
    border-bottom: 1px dotted #C2C2C2; 
    position: relative;
    padding: 0;
    margin-bottom:5px; 
    }*/
ul.oglavl li span {
  background-color: #f7f7f7;
  /* Это необходимо, чтобы перекрыть точки фоном */
  margin: 0; }

/*ul.oglavl li span.text, ul.oglavl li span.page {
    /*bottom: -5px; /* Смещаем значимые блоки, чтобы они перекрыли точки */
/*}*/
ul.oglavl span.text {
  position: relative;
  margin-right: 7em;
  /* Задается чтобы текст не заходил на номера страниц */
  padding-right: 2px;
  /* Необязателен. Задается чтобы точки не подходили вплотную к концу текста */ }

ul.oglavl span.page {
  position: absolute;
  right: 0;
  padding-left: 2px;
  /* Необязателен. Задается чтобы точки не подходили вплотную к номерам страниц */
  bottom: -5px; }

.under_foto2 {
  text-align: left;
  margin-left: 70px;
  background-color: #f7f7f7;
  overflow: hidden;
  width: 97.5%;
  padding: 35px 40px;
  margin: 40px auto;
  border-bottom: 1px solid grey; }

/*.li_under_foto2 a[href="description"]{
    	color: $color1;
    }*/
.link2 {
  color: #02cdd1; }

.li_under_foto2 {
  display: inline-block;
  margin-right: 100px; }

.active {
  position: relative; }
  .active:before {
    content: '';
    position: absolute;
    top: 51px;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: #02cdd1; }

.top_social {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  position: relative;
  left: 120px;
  color: #fff;
  z-index: 1; }
  .top_social:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -6px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #02cdd1;
    z-index: -20; }

.price_for_arenda {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: #f7f7f7;
  margin-bottom: 66px; }

.wrap_price {
  font-size: 30px; }

.descr_lidia {
  margin: 0 auto;
  font-size: 18px; }

.descr_lidia2 {
  font-size: 14px; }

.descr_lidia_prize {
  /*padding: 46px 0;*/
  padding-top: 46px;
  padding-bottom: 46px;
  padding-left: 80px;
  border: 1px solid lightgrey;
  background: url("../img/gift.png") no-repeat left; }

.foto {
  text-align: center;
  padding: 60px 0; }

h1 {
  position: relative;
  text-align: center; }

.foto_sotial {
  color: #02cdd1;
  display: inline-block;
  position: absolute;
  font-size: 18px;
  top: 9px;
  right: 100px; }

.wrap_for_foto {
  border-bottom: 1px solid lightgrey;
  padding: 64px 0; }

.else {
  padding: 60px 0;
  text-align: center; }

.name_teplohod {
  color: #02cdd1;
  font-weight: bold;
  font-size: 20px;
  padding: 26px 0;
  display: inline-block; }

.inner_span2 {
  background: url("../img/ik2.jpg") no-repeat left;
  display: inline-block;
  padding-left: 30px; }

.inner_span1 {
  background: url("../img/ik1.jpg") no-repeat left;
  display: inline-block;
  padding-left: 30px; }

.tepl_width {
  max-width: 360px;
  margin-top: 30px; }

.wrap_each_teplohod {
  display: inline-block; }

.map {
  text-align: center; }

.descr_map {
  padding: 60px 0; }

.for_map {
  position: relative;
  width: 100%; }

.form {
  width: 100%;
  background-color: #02cdd1;
  padding: 50px 0;
  margin-top: 70px;
  text-align: center; }

.descr_form {
  color: #fff;
  font-weight: normal; }

.form_footer {
  display: block;
  margin: 0 auto;
  width: 460px;
  border: 1px solid #fff; }

.form_input {
  padding: 24px 0 24px 24px;
  background-color: #30d6d9;
  border: 2px solid #30d6d9; }

.form_input1 {
  width: 100%;
  border: 2px solid #fff; }

.form_input2 {
  float: left;
  width: 50%;
  border: 2px solid #fff; }

.form_input3 {
  width: 50%;
  border: 2px solid #fff; }

.textar {
  width: 100%;
  background-color: #30d6d9;
  border: 2px solid #30d6d9; }

::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #fff; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #fff; }

textarea::-webkit-input-placeholder {
  color: #fff; }

textarea::-moz-placeholder {
  color: #fff; }

textarea:-moz-placeholder {
  color: #fff; }

textarea:-ms-input-placeholder {
  color: #fff; }

.link_form {
  color: #fff;
  padding: 24px 42px 24px 80px;
  border: 1px solid #fff;
  margin-top: 40px;
  background: url("../img/ancor.png") no-repeat 20px 20px;
  display: inline-block;
  font-size: 21px; }

.descr_under_form {
  color: #fff;
  margin: 40px auto;
  width: 60%;
  line-height: 2.2; }

strong {
  font-size: 21px; }

.under_section_form {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid grey;
  margin-bottom: 50px; }

.footer_tel {
  display: inline-block;
  font-weight: bold;
  font-size: 21px; }

.link3 {
  color: #02cdd1;
  display: inline-block;
  font-weight: bold;
  font-size: 18px; }

.footer_addr {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.7; }

.payItem {
  display: inline-block;
  background-size: cover;
  margin-top: 20px;
  width: 60px; }

.bold_link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px; }

.for_sotial_and_launguige {
  line-height: 5;
  text-align: center; }

.end {
  text-align: center;
  padding-top: 50px;
  border-top: 1px solid lightgrey;
  width: 40%;
  margin: 40px auto; }
