@font-face {
      font-family: Exo2.0-Thin; /* имя шрифта для CSS правил */
      src: local("Exo2.0-Thin"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/Exo2.0-Thin.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
html {
  height: 100%;
}
 

  
body{
	
	height:100%;
background: url('../img/bg.jpg') repeat ;

display: flex;

flex-direction: column;
align-items: center;
  justify-content:center;
 font-family: 'Exo 2.0 Thin';
}
/*.about-catfood{

padding: 50px 30px 70px;
background-color: lightgreen;
display: flex;
    flex-direction: column;
 
color:#fff;
text-align: center;	
	
}*/
.container{
	max-width: 1500px;

	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	background-color: lightyellow;
	color:#222;
	
}
/*.card{
background-color: lightgrey;
	
	display: flex;
	 
	text-align: left;
	
}*/
.bg-animal{
	flex: 1 1 315px;
	position: relative;
	padding-left: 43px;
	padding-bottom: 300px;
	padding-right: 60px;
	
	
	border:3px solid #1698d9;
	border-radius: 5px;
	background:#fff url('../img/catBg.png')no-repeat -30px 190%;
}
/*.label-wrap:last-child {
	margin-bottom:70px;
	margin-top: 25px;
}*/
.about-catfood h1{
	color: #fff;
	text-align: center;
	 font-family: 'Exo 2.0 Thin';
	 margin-bottom: 20px;
}
.bg-animal h1{
	font-size: 48px;
	color:#222;
	font-weight: bold;
	font-family: 'Trebuchet MS' ;

}
.bg-animal h4{
	margin-bottom: -45px;
	color: #000;
}
.label-wrap{
	/*display: block;*/
	position: relative;
	text-align: left;
	color: #fff;
	display: flex;
	margin: 50px;
}

/*.corner{
	position: absolute;
	width: 30px;
    height: 50px;
	
    	
    	border-right:3px solid #1698d9;
    	top: -16px;
    left: -8px;
    	transform: rotate(45deg);
z-index:10;
 &:before{
    	content:"";
    	position: absolute;
    	width: 30px;
    height: 50px;
    background: url('../img/bg.jpg')-132%;
    
    	top: 0px;
    left: 0;
    }
}*/
.label-price {
    color: #fff;
    outline: 1px solid red;
    
    display: block;
    position: absolute;
    top: 510px;
}
.link{
	display: inline-block;
	color: #1698d9;
	font-weight: bold;
	text-decoration: none;
	border-bottom:1px  dashed #1698d9; 
}
span{
	display: block;
	font-size: 24px;
	text-align: left;
	margin-bottom: -10px;
}
.bg-animal p{
	font-size: 14px;
	line-height: 1;
	color: #000;
	text-align: left;
}
p{
color: #000;	
}
.price{
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #1698d9;
	border-radius:50%;
	bottom:10px;
	right:10px;
	font-size: 22px;
	font-family: 'Trebuchet MS' ;
	
}
.part{
	width: 50px;
	border:1px solid yellow;
	line-height: 1.2;
	text-align: center;
    transform: translate(-15px, 0px);
}
.inner-price{
	width: 30px;
	border:1px solid red;
	line-height: 1.2;
	text-align: center;
    transform: translate(25px ,5px);
}
.inner-price span{
	text-align: center;
	font-family: 'Trebuchet MS' ;
	font-size: 42px;
	

	
}
input[type="checkbox"]{
	display: none;
}
.disable{
	color: green;
}
#hen:checked + .disable {
	position: relative;
	 &:before{
    position: absolute;

    content: '';
   
    	top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    opacity: 0.7;
    border: 3px solid grey;
    z-index: 1;
}

}
/*@media screen and(max-width:1170px){
	.container{
		width: 700px;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-around;
	}
	.label-wrap:last-child {
margin-top: 60px;
	}
	body{
		justify-content: flex-start;
	}
}
@media screen and(max-width:600px){
	.container{
		
		flex-direction: column;
		align-items: center;
	}
	body{
		justify-content: flex-start;
	}
}*/



