@font-face {
      font-family: Exo2.0-Thin; /* имя шрифта для CSS правил */
      src: local("Exo2.0-Thin"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/Exo2.0-Thin.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
html {
  height: 100%;
}
 

  
body{
	
	height:100%;
background: url('../img/bg.jpg') repeat ;

display: flex;
flex-direction: column;
align-items: center;
  justify-content:center;
 font-family: 'Exo 2.0 Thin';
}
/*.about-catfood{

padding: 50px 30px 70px;
background-color: lightgreen;
display: flex column;
 
color:#fff;
text-align: center;	
	
}*/
.container{
	width: 1120px;
	display: flex;
	justify-content:space-between;
	/*background-color: lightyellow;*/
	color:#222;
	border:1px solid green;
}
.card{

	/*background-color: lightgrey;*/
	
	
	text-align: left;
	outline:1px solid green;
}
.bg-animal{
	position: relative;
	padding-left: 43px;
	padding-bottom: 300px;
	padding-right: 60px;
	margin-bottom: 20px;
	border:3px solid #1698d9;
	border-radius: 5px;
	background:#fff url('../img/catBg.png')no-repeat -30px 190%;
}
.about-catfood h1{
	color: #fff;
	text-align: center;
	 font-family: 'Exo 2.0 Thin';
	 margin-bottom: 20px;
}
.bg-animal h1{
	font-size: 48px;
	color:#222;
	font-weight: bold;
	font-family: 'Trebuchet MS' ;

}
.bg-animal h4{
	margin-bottom: -45px;
	color: #000;
}
label{
	display: block;
	margin: 20px auto;
	text-align: left;
	color: #fff;
	outline:1px solid red;
	display: flex;
    /*flex-direction: column;*/
}
a{
	display: inline-block;
	color: #1698d9;
	font-weight: bold;
	text-decoration: none;
	border-bottom:1px  dashed #1698d9; 
}
span{
	display: block;
	font-size: 24px;
	text-align: left;
	margin-bottom: -10px;
}
.bg-animal p{
	font-size: 14px;
	line-height: 1;
	color: #000;
	text-align: left;
}
p{
color: #000;	
}
.price{
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #1698d9;
	border-radius:50%;
	bottom:10px;
	right:10px;
	font-size: 22px;
	font-family: 'Trebuchet MS' ;
	
}
.inner-price{
	width: 30px;
	border:1px solid red;
	line-height: 1.2;
    transform: translate(25px ,5px);
}
.inner-price span{
	text-align: center;
	font-family: 'Trebuchet MS' ;
	font-size: 42px;
	

	
}
@media screen and(max-width:1170px){
	.container{
		width: 700px;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-around;
	}
	body{
		justify-content: flex-start;
	}
}

@media screen and(max-width:600px){
	.container{
		
		flex-direction: column;
		align-items: center;
	}
	body{
		justify-content: flex-start;
	}
}