@charset "UTF-8";
/*$font-family-default{}*/
/*@import "reset";*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  width: 100%; }

header {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover; }

.container {
  border: 1px solid green; }

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0; }

.center-one {
  width: 500px;
  margin: auto; }

a, img {
  display: inline-block; }
  a:hover, img:hover {
    text-decoration: none; }

a {
  text-decoration: none; }

nav > ul {
  padding: 0;
  margin: 0;
  border: 1px solid yellow; }

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin-left: -5px; }
  nav > ul > li:hover {
    background-color: #ff9526;
    -webkit-transition: all 1s;
    transition: all 1s; }

nav > ul > li:last-child {
  margin-right: 0; }

nav > ul > li.active {
  background-color: #ff9526; }

nav > ul > li > a {
  padding: 20px 29px;
  line-height: 20px;
  vertical-align: middle;
  color: #fff;
  margin-left: -3px; }

.how-work {
  padding: 30px 60px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff; }
  .how-work:hover {
    background-color: #ff9526;
    -webkit-transition: all 1s;
    transition: all 1s; }

.row-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: auto; }

.container-my-header {
  width: 70%;
  margin: 0 auto; }

.about {
  padding: 100px 0;
  text-align: center;
  /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
  margin: 0 auto;
  width: 70%; }

.container-my-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.about h3 {
  font-size: 18px;
  color: #ff9526; }

.about h1 {
  font-size: 36px;
  color: #222; }

.about > p {
  padding-top: 120px; }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightred;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.container-my-menu {
  /* width: 100%; */
  border: 1px solid green;
  width: 70%;
  margin: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.wrap-logo-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  /* width: 400px; */
  -webkit-flex-basis: 400px;
      -ms-flex-preferred-size: 400px;
          flex-basis: 400px; }

.make {
  padding: 116px 0;
  text-align: center;
  background-color: #f1f1f1; }

.make-left {
  text-align: center;
  margin: 0 auto; }

.make-right {
  text-align: left;
  width: 550px;
  margin: auto; }

.apple {
  padding: 22px 54px 22px 92px;
  display: inline-block;
  border: 1px solid #ff9526;
  background-color: #ff8400;
  float: left;
  margin-right: 30px;
  position: relative;
  color: #fff; }
  .apple:before {
    position: absolute;
    content: '';
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
    background: #f17201 url("../img/app.png") no-repeat center; }

.win {
  padding: 22px 54px 22px 92px;
  display: inline-block;
  border: 1px solid #ff9526;
  position: relative;
  color: #ff9526; }
  .win:before {
    position: absolute;
    content: '';
    width: 64px;
    height: 64px;
    border-right: 1px solid #ff9526;
    top: 0;
    left: 0;
    background: url("../img/win.png") no-repeat center; }

.container-my-make {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  border: 1px solid blue; }

.work {
  background-color: #f8f9f9;
  padding: 100px 0 80px; }

.work ul {
  margin-left: -40px; }

.work-list li {
  display: inline-block;
  margin-right: 40px; }

.work-list li a:hover {
  color: #ff8400; }

.work p {
  line-height: 45px; }

.w-active {
  color: #ff8400;
  position: relative; }
  .w-active:after {
    position: absolute;
    content: '';
    width: 64px;
    height: 3px;
    top: 20px;
    left: -5px;
    background: #ff8400; }

.work-make-left {
  text-align: center; }

.container-my-workflow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 30px 0;
  width: 70%;
  margin: 0 auto;
  border: 1px solid red; }

.row-workflow1 {
  width: 500px;
  margin: auto; }

.work-make-left {
  margin: 0 auto; }

.row > img {
  width: 147px;
  height: auto; }

.container-my-notification {
  width: 70%;
  margin: 0 auto;
  border: 1px solid green;
  text-align: center; }

.join {
  padding: 150px 0;
  background: -webkit-linear-gradient(135deg, #ff8102 0%, #fb3d3c 51%);
  background: linear-gradient(-45deg, #ff8102 0%, #fb3d3c 51%); }

.join h1 {
  color: #fff;
  font-size: 31px; }

.join p {
  line-height: 36px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 100px; }

.join input[type='email'] {
  display: inline-block;
  border: 1px solid white;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: transparent;
  padding: 25px 9% 25px 30px;
  margin-bottom: 20px; }

.join input[type='submit'] {
  display: inline-block;
  padding: 25px 40px;
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid white;
  text-transform: uppercase;
  color: #fe8634; }

.join input[type="text"]::-webkit-input-placeholder, .join input[type="email"]::-webkit-input-placeholder, .join textarea::-webkit-input-placeholder {
  color: #fff; }

.join input[type="text"]::-moz-placeholder, .join input[type="email"]::-moz-placeholder, .join textarea::-moz-placeholder {
  color: #fff; }

.join input[type="text"]:-ms-input-placeholder, .join input[type="email"]:-ms-input-placeholder, .join textarea:-ms-input-placeholder {
  color: #fff; }

.join input[type="text"]::placeholder, .join input[type="email"]::placeholder, .join textarea::placeholder {
  color: #fff; }

.user {
  text-align: center; }

img {
  display: inline-block; }

.container-my-users {
  width: 70%;
  padding: 100px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border: 1px solid red; }

.row1 {
  width: 140px;
  height: 140px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #e5e5e5;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.row1 img {
  width: 150%;
  height: 140px;
  position: absolute;
  top: 0;
  left: -28px; }

.user h1 {
  font-size: 36px;
  color: #222; }

.row1-active {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  margin-left: 80px; }

/*.row1-active:after{

	content:'';
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius:50%;
	background-color: #e5e5e5;
	top:-30px;
	left: 0;
	overflow: visible;
}*/
.wrapper-for-item-user {
  position: relative;
  /*top:0;
	left: 0;*/
  border: 1px solid red; }

.scalable:after {
  content: '';
  position: absolute;
  width: 260px;
  height: 260px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #e5e5e5;
  top: -31px;
  left: 20px; }

.scalable h1 {
  color: #00baff;
  font-size: 22px;
  margin-top: 100px; }

.scalable p {
  color: #222;
  width: 300px; }

.wrapper-for-item-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/*звездочки*/
HTML CSS Result
Edit on
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url("http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png") no-repeat; }

#reviewStars-input {
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  position: relative;
  float: left; }

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 43px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 0; }

#reviewStars-input input:checked ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px; }

#reviewStars-input label {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1; }

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px; }

#reviewStars-input #star-0 {
  left: 0px; }

#reviewStars-input #star-1 {
  left: 53px; }

#reviewStars-input #star-2 {
  left: 106px; }

#reviewStars-input #star-3 {
  left: 159px; }

#reviewStars-input #star-4 {
  left: 212px; }

#reviewStars-input #star-5 {
  left: 265px; }

.contact {
  background-color: #f1f1f1; }

.container-my-contacts {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border: 1px solid red; }

.row-contacts p {
  padding: 34px 0;
  padding-left: 50px; }

.phone {
  background: url("../img/phone.png") no-repeat left center; }

.eml {
  background: url("../img/eml.png") no-repeat left center; }

.loc {
  background: url("../img/loc.png") no-repeat left center; }

.container-me-send {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

html, body {
  /* font-family: $font-family-default;*/
  font-size: 16px;
  line-height: 1.2;
  /*color:$color-text;*/
  background-color: white;
  margin: 0;
  padding: 0;
  /*overflow-x:hidden;*/ }
