/*@import "susy";*/
@import "__variables.scss";
@import "__mixin.scss";


/*@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/breakpoint/breakpoint/_breakpoint.scss";*/

/*@import "reset";*/

@import "../blocks/__header.scss";
@import "../blocks/__top.scss";
/*@import "../blocks/__prices.scss";
@import "../blocks/__present.scss";
@import "../blocks/__suggest.scss";
@import "../blocks/__orderFont.scss";
@import "../blocks/__testimonial.scss";
@import "../blocks/__chokoB_footer.scss";
@import "../blocks/__form.scss";*/
/*@import "../blocks/__order.scss";
@import "../blocks/__logo.scss";




@import "../blocks/__delivery.scss";

@import "../blocks/__prize.scss";
*/


 
/*@import "../blocks/__nav.scss";*/


   /* debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);*/
html,body{
 /* font-family: $font-family-default;
  font-size:$font-size-default;
  line-height:$line-height;
  color:$color-text;
  background-color: $color-background;
  margin:0;
  padding:0;*/
  overflow-x:hidden;
}





/*https://webref.ru/dev/automate-with-gulp/responsive*/
/*http://www.creativebloq.com/web-design/flexible-layouts-susy-and-breakpoint-121518452*/