.delivery{
	@include span(12);
	position: relative;
	background-color: #E8F4F6;
	padding-top: 40px;
	padding-bottom: 100px;

}
.wrapForDelivery{
	@include span(12 of 12);
	margin-bottom: 120px;

}
.wrapForEachDelivery:not(:last-child){
	position: relative;
	@include span(2 of 12);
	box-shadow: inset 0px 0px 1px 0px black;
	@include push(0.8);
	&:before {
    content: '';
    right: -50px;
    top: 65px;
    width: 50px;
    height: 50px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    
    transform: rotate(45deg);
    position: absolute;
}
}
.wrapForEachDelivery:last-child{
	position: relative;
	@include span(2 of 12);
	box-shadow: inset 0px 0px 1px 0px black;
	@include push(0.8);
	
}
/*.wrapForEachDelivery:first-child{
	@include push(2);
}*/


/*.wrapForEachDelivery-last{
	position: relative;
	@include span(2 of 12);
	box-shadow: inset 0px 0px 1px 0px black;
	@include push(0.5);
	
}*/
.delivery_item{
	height: 200px;
	background: url('../img/deliv1.png')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.wrapForFestive{
	@include span(12);
	
}
.wrapForFestiveItem{
	@include span(2 of 12);
}
.wrapForFestiveItem:first-child{
	@include push(3);
}

.festive{
	height: 100px;
	width: 100px;
    margin: 0 auto;
	background: url('../img/festive1.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.wrapForPay{
	@include span(12);
	margin-top: 50px;
}
.payDescr{
	@include span(3 of 12);
}
.payItem{
	@include span(1.25 of 12);
	box-shadow: inset 0px 0px 1px 0px black;
	margin-top: 20px;
}
/*.payItem-last{
	@include span(1.25 of 12 last);
}*/

