.delivery{
	@include span(12);
	position: relative;
	background: url('../img/bg4.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 100px;
	color: #fff;

}
.wrapForDelivery{
	@include span(12 of 12);
	margin-bottom: 120px;

}
.prices_titleDelivery {
    margin-top: 130px;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}

.wrapForEachDelivery:not(:last-child){
	position: relative;
	@include span(2 of 12);
	/*box-shadow: inset 0px 0px 1px 0px black;*/
	@include push(0.8);
	/*&:before {
    content: '';
    right: -50px;
    top: 65px;
    width: 50px;
    height: 50px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    
    transform: rotate(45deg);
    position: absolute;
}*/
}
.wrapForEachDelivery:last-child{
	position: relative;
	@include span(2 of 12);
	/*box-shadow: inset 0px 0px 1px 0px black;*/
	@include push(0.8);
	
}
.order_item {
    font-size: 50px;
    color: #fff;
}
/*.wrapForEachDelivery:first-child{
	@include push(2);
}*/


/*.wrapForEachDelivery-last{
	position: relative;
	@include span(2 of 12);
	box-shadow: inset 0px 0px 1px 0px black;
	@include push(0.5);
	
}*/
.delivery_item{
	
}
.prices_titleDelivery-Pay{
	margin-top: 10px;
}
.arrowArk1 {
    top: 16px;
    left: 270px;
    background: url(../img/arkaTop.png) no-repeat center;
}
.arrowArk2 {
    top: 160px;
    left: 270px;
    background: url(../img/arkaBottom.png) no-repeat center;
}
.arrowArk {
    width: 120px;
    height: 50px;
    position: absolute;
}
.wrapForFestive{
	@include span(12);
	
}
.wrapForFestiveItem{
	@include span(2 of 12);
}
.wrapForFestiveItem:first-child{
	@include push(3);
}

.festive{
	height: 100px;
	width: 100px;
    margin: 0 auto;
	background: url('../img/festive1.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.wrapForPay{
	@include span(12);
	margin-top: 50px;
}
.payDescr{
	@include span(3 of 12);
}
.payItem{
	
	display: inline-block;
	-webkit-background-size: cover;
	background-size: cover;
	box-shadow: inset 0px 0px 1px 0px black;
	margin-top: 20px;
}
.payItem.payItem1 {
    width: 65px;
}
.payItem.payItem2 {
    width: 65px;
}
.payItem.payItem3 {
    width: 65px;
}
.payItem.payItem5 {
    width: 150px;
    }
    .payItem.payItem4 {
    width: 180px;
}
.payItem.payItem6 {
    width: 180px;
}
.payItem.payItem7.payItem-last {
    width: 200px;
}

.wrap_for_title{
	@include span(6 of 12);
}
.wrap_for_payCard{
	@include span(6 of 12 last);
}
