/*header*/
/*.wrapper_for_all{

	@include container;
	background-color: skyBlue;
	text-align: center;
	padding: 0 20px;
}*/
.wrapper_for_header{
	width: 100%;
	float: left;
	position: relative;	
	background: url('../img/bgHeader2.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.wrapInnerHeader{
	@include container(1600px);
}
/*.top{
	width: 100%;
	float: left;
	background: url('../img/bgHeader1.jpg')no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}*/
.top_line{
	@include span(10 of 12);
	@include push(1);
	margin-top: 30px;

}
.linkForLogo{
	display: inline-block;
	@include span(2 of 10);
}
.callWrap{
	@include span(2 of 10 last);
	display: block;
	
}
.wrapForTel{
	font-size: 28px;
	color:$colorBrown;
	font-weight: bold;
}


.img_logo{
	display: inline-block;
	width: 180px;
    height: 100px;
}
.wrapForFont{
	/*@include container(1200px);*/
	@include span(12);
	position: relative;
	text-align: center;
	/*background-color:lightGreen;*/

	padding-bottom: 140px;
	border-bottom: 1px solid lightGrey;
}
.wrapForBerry{
	@include span(10 of 12);
	@include push(1);
	
}
.imgAside{
	@include span(3 of 12);

	background:url('../img/bgleft.png') no-repeat ;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
	
}
.imgAside2{
	@include span(3 of 12 last);

	background:url('../img/cakeManySmall.jpg') no-repeat ;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;

	
}
/*.titleTop, h2,.order{
	@include span(6 of 12);
}*/
.titleTop{
	margin-top: 70px;
	color: $colorRed;
	font-size: 50px;
	text-transform: uppercase;
	
}

.underTitleTop{
	margin-top: 70px;
}
.innerWrap{
	@include span(6 of 12);
	@include push(3);
}
.order{
	display: inline-block;
	position: relative;
	padding: 20px 140px;
	background-color: $colorRed;
	
	border-radius: 70px;
	margin-top: 100px;
	color: #fff;
	 @include font-size(28px); 
	
}

.berry {
    position: absolute;
    top: -20px;
    right: -30px;
    display: block;
}

.call{
	padding: 4px 30px;
	background-color:#fff;
	border-radius: 30px;
	color: #f13526;
	font-size: 18px;
	display:  inline-block;
	
	font-weight: bold;
}
.round{
	position: absolute;
	bottom:-35px;
	left:50%;
	margin-left: -35px;
	width: 70px;
	height: 70px;
	border-radius:50%;
	border: 14px solid #fff;
	background-color: #d3bfb6;
	z-index: 10;
}
.arrow-down.icon {
  color: #000;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
  /*width: 1px;*/
  height: 16px;
  background-color: currentColor;
}

.arrow-down.icon:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}



.imgAside{
	@include span(12 of 12);
	background:url('../img/cakeManySmall.jpg') no-repeat ;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
}
.imgAside2{
	@include span(12 of 12);
	background:url('../img/cakeManySmall.jpg') no-repeat ;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
}
/*.titleTop, h2,.order{
	@include span(6 of 12);
}*/
.titleTop{
	margin-top: 70px;
}

.underTitleTop{
	margin-top: 70px;
}




@media(max-width:1200px){
	.linkForLogo{
	
	@include span(12 of 12);
}

.topLine{
	@include span(12 of 12);
	text-align: center;
}

.callWrap{
	@include span(10 of 12);
	@include push(1)
}
}
@media(max-width:900px){
	.wrapForFont{
	
	@include span(12);
	text-align: center;
	/*background-color:lightGreen;*/
	padding-top: 20px;
	padding-bottom: 60px;
}

}