.suggest{
	@include span(12);
	position: relative;
	background-color: #EDFFDB;
	padding-top: 40px;
	padding-bottom: 100px;
}
.wrapForSuggestItem{
	@include span(10 of 10);
	margin-bottom: 120px;
}
.wrapForEach{
	@include span(2 of 10);
	
	
}
.suggest_item1{
	height: 200px;

	background: url('../img/strawberry.png')no-repeat center;
	
	
}
.suggest_item2{
	height: 200px;

	background: url('../img/bow.png')no-repeat center;
	
	
}
.suggest_item3{
	height: 200px;

	background: url('../img/marshmallow.png')no-repeat center;
	
	
}
.suggest_item4{
	height: 200px;

	background: url('../img/bow.png')no-repeat center;
	
	
}
.suggest_item5{
	height: 200px;

	background: url('../img/bow.png')no-repeat center;
	
	
}
.wrapForEach-last{
	@include span(2 of 10 last);
}
.wrapForSafe{
	@include span(12);
	@include push(3);
}
.wrapForSafeItem{
	@include span(2 of 12);
}
/*.wrapForSafeItem1{
	@include span(2 of 12);
	
}
.wrapForSafeItem2{
	@include span(2 of 12);
	
}
.wrapForSafeItem3{
	@include span(2 of 12);
	
}*/
/*.wrapForSafeItem-last{
	@include span(2 of 12);
}*/
.safe{
	height: 100px;
	background: url('../img/safe1.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
