.testimonial{
	@include span(12);
	position: relative;
	background-color: #FFFBE7;
	padding-top: 40px;
	padding-bottom: 100px;
}
.testimon_inner{
width:80%;
	height: 200px;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	border:1px inset #222;
	
}
.testimon_inner-img1{
background: url('../img/testimon1.jpg')no-repeat center;

}
.testimon_inner-img2{
background: url('../img/testimon2.jpg')no-repeat center;

}
.testimon_inner-img3{
background: url('../img/testimon3.jpg')no-repeat center;

}
/*.wrapForTestimon{
	border:1px inset #222;
}*/
.testim_descr{
	width:80%;
	margin:0 auto;
	border:1px inset #222;
}