body {
  font-family: "Roboto","Arial",sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232; }

.wrapper {
  /*max-width:1600px;*/
  min-width: 300px;
  /*width: 100%;*/
  background-color: red;
  margin: 0 auto; }

ul li {
  list-style: none; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: magenta; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff; }

.container_add {
  max-width: 1024px;
  /*width: calc((1024/1600)*100%) ;*/
  /*width: calc(100% - 20px);*/
  /*width:64%;*/
  margin: 0 auto;
  outline: 1px solid yellow; }

.top {
  outline: 1px solid green;
  width: 100%;
  background: url("../img/kuropatochnaja-gostinaja.jpg") no-repeat center;
  background-size: cover; }

.slider__container {
  padding: 0;
  margin: 0;
  outline: 7px solid green;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider__item {
  /*width: calc(1024px/3);*/
  background-color: lime;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin: 3px; }

@media screen and (max-width: 1445px) {
  .slider__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .slider__item {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; } }
