body {
  font-family: "Roboto","Arial",sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232; }

.wrapper {
  /*max-width:1600px;*/
  min-width: 300px;
  /*width: 100%;*/
  background-color: red;
  margin: 0 auto; }

ul li {
  list-style: none; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: magenta; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff; }

.container_add {
  max-width: 1024px;
  /*width: calc((1024/1600)*100%) ;*/
  /*width: calc(100% - 20px);*/
  /*width:64%;*/
  margin: 0 auto;
  outline: 1px solid yellow; }

.top {
  outline: 1px solid green;
  width: 100%;
  background: url("../img/kuropatochnaja-gostinaja.jpg") no-repeat center;
  background-size: cover; }

.slider__container {
  padding: 0;
  margin: 0;
  outline: 7px solid green;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider__item {
  /*width: calc(1024px/3);*/
  background-color: lime;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin: 3px; }

@media screen and (max-width: 1445px) {
  .slider__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .slider__item {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; } }

body {
  margin: 0;
  text-align: center;
  font-family: Verdana;
  background: #f5f5f5; }

h1 {
  text-align: center; }

.container {
  background-color: lime;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  /*flex-direction: row;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.wrapper_for_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.wrapper_for_item {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid black; }

input[type="radio"] {
  display: none; }

label {
  /*width:23%;*/
  /*float:left;*/
  -webkit-flex-basis: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #222222;
  padding: 3px;
  margin-bottom: 30px;
  cursor: pointer; }

input[type="radio"][id="blue"]:checked + label {
  background: #6666ff; }

/*input[type="radio"][id="blue"]:checked ~  .red, input[type="radio"][id="blue"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}*/
input[type="radio"][id="blue"]:checked ~ .wrapper_for_item .red, input[type="radio"][id="blue"]:checked ~ .wrapper_for_item .green {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  outline: 3px solid yellow; }

input[type="radio"][id="red"]:checked + label {
  background: #ff4466; }

input[type="radio"][id="red"]:checked ~ .wrapper_for_item .blue, input[type="radio"][id="red"]:checked ~ .wrapper_for_item .green {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0; }

input[type="radio"][id="green"]:checked + label {
  background: #66dd99; }

input[type="radio"][id="green"]:checked ~ .wrapper_for_item .blue, input[type="radio"][id="green"]:checked ~ .wrapper_for_item .red {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0; }

.tile {
  width: 23%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  /*height:100px;
 float:left;*/
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 0.5%;
  padding: 0.5%; }

.green {
  background: #66dd99; }

.blue {
  background: #6666ff; }

.red {
  background: #ff4466; }
